---

---

<header>
  <div class="left">
    <a href="/" class="btn btn-black">OFFICE00</a>
    <a href="/about" class="btn btn-white">About</a>
  </div>

  <div class="right">
    <a href="/book" class="btn btn-white">Books</a>
    <a href="/gallery" class="btn btn-white">Gallery</a>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
</style>
