---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Digital Library">
  <main>
    <Header />
    <div class="exp">
      <a-scene xr-mode-ui="enabled: false">
        <a-assets>
          <img id="skyTexture" src="/pano/01.jpeg" alt="sky" />
        </a-assets>
        <a-sky src="#skyTexture"></a-sky>

        <a-entity id="stacks">
          <a-plane
            clickhandler="txt:box1"
            class="stack"
            color="#fff"
            opacity="0.3"
            width="1.3"
            height="0.29"
            rotation="0 -50 -7"
            position="0.23 1.59 -1"></a-plane>
        </a-entity>
        <a-entity cursor="rayOrigin:mouse" raycaster="objects: .stack"
        ></a-entity>
      </a-scene>
    </div>
  </main>
</Layout>

<!-- <footer>
  <div class="right">
    <h2 class="btn btn-white-50">You are now exploring Stack 2</h2>
  </div>
</footer> -->

<script>
  function toggleHypothesis() {
    const iframe = document.querySelector(
      "iframe.hypothesis__embed"
    ) as HTMLIFrameElement | null;
    const button = document.querySelector("button#toggle");
    button?.addEventListener("click", () => {
      if (!iframe) return;
      const src = iframe.src;
      if (src.includes("https://via.hypothes.is/")) {
        iframe.src = src.replace("https://via.hypothes.is/", "");
      } else {
        iframe.src = "https://via.hypothes.is/" + src;
      }
    });
  }

  const stack = document.querySelector(".stack");
  stack?.addEventListener("click", () => {
    alert("You clicked on stack 1");
  });

  window.onload = function () {
    toggleHypothesis();
  };
</script>

<script is:inline>
  AFRAME.registerComponent("clickhandler", {
    schema: {
      txt: { default: "default" },
    },
    init: function () {
      var data = this.data;
      var el = this.el;
      el.addEventListener("click", function () {
        console.log(data.txt);
      });
    },
  });
</script>

<style>
  main {
    margin: auto;
    width: 100svw;
    color: white;
    line-height: 1.6;
  }

  footer {
    display: flex;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
  }

  .exp {
    position: absolute;
    inset: 0;
    width: 100svw;
    height: 100svh;
    /* z-index: -1; */

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
