---
import Layout from "../layouts/Layout.astro";
import { fetchBooks } from "../data/api";
import type { Book } from "../data/api";
import { Image } from "astro:assets";
import lib from "../../public/lib.png";

const books: Book[] = (await fetchBooks()) || [];
---

<Layout title="Digital Library">
  <main>
    <header>
      <div class="left">
        <a href="/" class="btn btn-black">OFFICE00</a>
        <a href="/about" class="btn btn-white">About</a>
      </div>

      <div class="right">
        <a href="/books" class="btn btn-white">Books</a>
        <a href="/gallery" class="btn btn-white">Gallery</a>
      </div>
    </header>
    <a-scene vr-mode-ui="enabled: false">
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
      <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
      <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"
      ></a-cylinder>
      <a-plane
        position="0 0 -4"
        rotation="-90 0 0"
        width="4"
        height="4"
        color="#7BC8A4"></a-plane>
      <a-sky color="#ECECEC"></a-sky>
    </a-scene>

    <div class="image">
      <!-- <Image src={lib} alt="Library" /> -->
    </div>

    <footer>
      <div class="right">
        <h2 class="btn btn-white-50">You are now exploring Stack 2</h2>
      </div>
    </footer>
  </main>
</Layout>

<script>
  function toggleHypothesis() {
    const iframe = document.querySelector(
      "iframe.hypothesis__embed"
    ) as HTMLIFrameElement | null;
    const button = document.querySelector("button#toggle");
    button?.addEventListener("click", () => {
      if (!iframe) return;
      const src = iframe.src;
      if (src.includes("https://via.hypothes.is/")) {
        iframe.src = src.replace("https://via.hypothes.is/", "");
      } else {
        iframe.src = "https://via.hypothes.is/" + src;
      }
    });
  }

  window.onload = function () {
    toggleHypothesis();
  };
</script>

<style>
  main {
    margin: auto;
    width: 100svw;
    color: white;
    line-height: 1.6;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  footer {
    display: flex;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
  }

  .image {
    position: absolute;
    inset: 0;
    width: 100svw;
    height: 100svh;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
